.button {
  @apply rounded-lg px-4 py-2 font-medium;
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.button-circle {
  @apply rounded-full;
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.button,
.button-circle {
  &:hover {
    opacity: 0.9;
  }
}
