@use 'sass:color';
@use 'sass:list';

@use './colors';

$typesColorWhite: 'text', 'white';

@mixin generate-lirmi-color-class($type, $color) {
  .is-#{$type} {
    background-color: $color;
    color: #ffffff;
    border: none;

    @if list.index($typesColorWhite, $type) {
      color: #000000;
      @if $type == 'text' {
        text-decoration-line: underline;
      }
    }

    &:hover {
      background-color: hsl(
        color.channel($color, 'hue', $space: hsl),
        color.channel($color, 'saturation', $space: hsl),
        color.channel($color, 'lightness', $space: hsl) * 0.95
      );
    }
  }
}

@include generate-lirmi-color-class('primary', colors.$colorPrimary);
@include generate-lirmi-color-class('text', colors.$colorText);
@include generate-lirmi-color-class('white', colors.$colorWhite);
